@import url("https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:wght@100&display=swap");

/* font-family: 'Righteous', cursive;
font-family: 'Roboto', sans-serif; */

.App {
	text-align: center;
	background-color: rgba(255, 255, 0, 0.37);
}

.bodyContainer {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
	font-family: "Roboto", sans-serif;
}

.App-link {
	color: red;
}

.Comp1 {
	background-color: black;
	padding: 20px;
	margin: 20px;
}

.Comp2 {
	background-color: black;
	padding: 20px;
	margin: 20px;
}
.HeaderBar {
	background-color: black;
	padding: 10px;
	color: white;
	text-align: center;
}

.WelcomeTex {
	color: blue;
}

.promoCode {
	color: red;
}

.logo {
	color: gray;
	font-family: "Righteous", cursive;
}

.Footer {
	background-color: gray;
	padding: 10px;
	color: white;
	text-align: center;
}

.root {
	flex-grow: 1;
}
/* .menuButton {
  margin-right: theme.spacing(2),
} */

.title {
	flex-grow: 1;
}
